<div id="<%= dom_id app %>">
  <p>
    <strong>Name:</strong>
    <%= app.name %>
  </p>

  <p>
    <strong>Schema:</strong>
    <%= app.schema %>
  </p>

  <p>
    <strong>Databasetype:</strong>
    <%= app.databasetype %>
  </p>

  <p>
    <strong>Engine config:</strong>
    <%= app.engine_config %>
  </p>

</div>
