<%= form_with(model: app) do |form| %>
  <% if app.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
        <% app.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :schema, style: "display: block" %>
    <%= form.text_area :schema, rows: 10, cols: 60 %>
  </div>

  <div>
    <%= form.label :databasetype, style: "display: block" %>
    <%= form.text_field :databasetype %>
  </div>

  <div>
    <%= form.label :engine_config, style: "display: block" %>
    <%= form.text_field :engine_config %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
