<p style="color: green"><%= notice %></p>

<%= render @flow %>

<div>
  <%= link_to "Edit this flow", edit_app_flow_path(@app, @flow) %> |
  <%= link_to "Back to flows", app_flows_path(@app) %>

  <%= button_to "Destroy this flow", [@app, @flow], method: :delete %>

  <%= button_to "Launch App", show_app_app_flow_url(@app, @flow), method: :get %>
</div>

<h2>Panels</h2>
<% @flow.panels.each do |panel| %>
  <%= form_with(url: update_sql_app_flow_panel_path(@app, @flow, panel), method: "put") do |f| %>
    <p>
        <strong>Title:</strong> 
        <%= panel.title %>
    </p>
    <p>
        <strong>Panel Type:</strong> 
        <%= panel.panel_type %>
    </p>
    <p>
        <strong>Natural Prompt:</strong> <br/>
        <%= text_area_tag :natural_prompt, panel.natural_prompt, rows: 2, cols: 80 %>
    </p>
    <p>
        <strong>SQL Query:</strong> <br/>
        <%= text_area_tag :sql_query, panel.sql_query, rows: 8, cols: 50 %>
    </p>
    <p>
    <%= f.submit "Update SQL/Prompt" %>
    </p>
  <% end %>
  <p>
  <%= button_to "Generate Text2SQL", app_flow_panel_path(@app, @flow, panel), method: :put %>
  </p>
  <p>----------------------</p>
  <% end %>



<h2>Add Panel:</h2>
<%= form_with model: [@app, @flow, @flow.panels.build] do |f| %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :panel_type %><br>
        <%= f.text_field :panel_type %>
    </p>
    <p>
      <%= f.label :natural_prompt %><br>
      <%= f.text_area :natural_prompt, rows: 2, cols: 80 %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>