<p style="color: green"><%= notice %></p>

<h1><%= @app.name %></h1>
<h2><%= @flow.name %></h2>

<h3>Panels</h3>
<% @flow.panels.each_with_index do |panel, i| %>
    <h4>
        <%= panel.title %>
    </h4>
    <p>
        <strong>Natural Prompt:</strong> 
        <%= panel.natural_prompt %>
    </p>
    <p>
        <strong>Results:</strong> 
        <% result = @results[i] %>
        <table>
            <thead>
                <tr>
                    <% result.fields.each do |field| %>
                    <th><%= field.to_s %></th>
                    <% end %>
                </tr>
            </thead>
            <tbody>
                <% result.each(as: :array) do |row| %>
                <tr>
                    <% row.each do |field| %>
                    <td><%= field %></td>
                    <% end %>
                </tr>
                <% end %>
            </tbody>
        </table>
    </p>
    <!--<%= button_to "Fetch Results" %>-->
    <p>----------------------</p>
<% end %>