<p style="color: green"><%= notice %></p>

<nav>
    <div class="nav-wrapper">
    <div class="col s12">
        <a class="breadcrumb"><%= @app.name %></a>
        <a class="breadcrumb"><%= @flow.name %></a>
    </div>
    </div>
</nav>

<div style="padding: 0 16px;">
<h4>Panels</h4>
<div class="row">
<% @flow.panels.each_with_index do |panel, i| %>
    <div class="col s12 z-depth-2" style="margin-bottom: 24px;">
    <h5>
        <%= panel.title %>
    </h5>
    <p>
        <strong>Natural Prompt:</strong> 
        <%= panel.natural_prompt %>
    </p>
    <p>
        <strong>Results:</strong> 
        <% result = @results[i] %>
        <% if result.nil? %>
        <p>No results found</p>
        <% else %>
        <table>
            
            <thead>
                <tr>
                    <% result.fields.each do |field| %>
                    <th><%= field.to_s %></th>
                    <% end %>
                </tr>
            </thead>
            <tbody>
                <% result.each(as: :array) do |row| %>
                <tr>
                    <% row.each do |field| %>
                    <td><%= field %></td>
                    <% end %>
                </tr>
                <% end %>
            </tbody>
        </table>
        <% end %>
    </p>
    <!--<%= button_to "Fetch Results" %>-->
    </div>
<% end %>
</div>