<!DOCTYPE html>
<html>
  <head>
    <title>MaverickAppmaker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      textarea.sql,
      textarea.prompt {
        width: 50%;
      }
      
      textarea.sql {
        height: 150px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
